<div class="rooms">
  <% current_user.rooms.each do |room| %>
  <div class="room">
    <div class="room-name">
      <% @user = (room.users.where.not(id: current_user.id).to_a)[0] %>
      <%= link_to @user.name, public_room_messages_path(room) %>
    </div>
  </div>
  <% end %>
</div>