<%= render "search" %>

<h2>検索結果一覧</h2>
<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <%= link_to post.title, public_post_path(post) %>
      </tr>
    <% end %>
  </tbody>
</table>